.font-luciole {
    font-family: var(--font-luciole);
}

.font-luciole-italic {
    font-family: var(--font-luciole-italic);
}

.font-luciole-bold {
    font-family: var(--font-luciole-bold);
}

.font-firacode {
    font-family: var(--font-firacode);
}

.font-firacode-bold {
    font-family: var(--font-firacode-bold);
}

.font-firacode-light {
    font-family: var(--font-firacode-light);
}

.font-firacode-medium {
    font-family: var(--font-firacode-medium);
}

.font-firacode-semi-bold {
    font-family: var(--font-firacode-semi-bold);
}
