@import './styles/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F0EBD8;
  --foreground: #0D1321;
  --accent: #1D2D44;
  --highlight: #fff582;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #F0EBD8;
    --accent: #1D2D44;
    --highlight: #fff582;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

li {
  margin: 0;
}

h1 {
  font-size: 1.25rem;
  font-family: var(--font-luciole-bold);
  line-height: 1.75rem;
  text-decoration: underline;
}